<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./head.ejs",{title:"avatar"}) %>
</head>

<body>
    <div class="m-auto">
        <div class="card-body p-4 p-sm-5">
            <form action="/dashboard//uploadAvatar" method="post" enctype="multipart/form-data">
                <div class="form-floating mb-3">
                    <label for="repeatPaswordInput">عکس کاربری</label>
                    <input type="file" class="form-control" name="avatar" id="avatar" placeholder="محل قرار دادن عکس">
                    <p id="repeatPaswordvalid"></p>
                </div>
                <button type="submit" class="btn btn-primary">ok</button>
            </form>
        </div>
    </div>


</body>

</html>