<!DOCTYPE html>
<html>

<head>
    <title>
        Welcome </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <a href='/home'>home</a>
    </h1>
    <p>Welcome to parasiro
    </p>
</body>

</html>