<nav dir="rtl" class=" navbar navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand " href="/ ">παράθυρο</a>
    <button class="navbar-toggler " type="button " data-toggle="collapse " data-target="#navbarSupportedContent " aria-controls="navbarSupportedContent " aria-expanded="false " aria-label="Toggle navigation ">
      <span class="navbar-toggler-icon "></span>
    </button>

    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent ">
        <div>

            <ul class="navbar-nav mr-auto ">
                <li class="nav-item active ">
                    <a class="nav-link " href="/blog">بلاگ  <span class="sr-only ">(current)</span></a>
                </li>
                <li class="nav-item ">

                    <a class="nav-link" id="status" href="<%=statuses%> ">
                        <%= status %>
                    </a>
                </li>
                <li class="nav-item dropdown ">
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          سایر
                        </a>

                        <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item text-light" href="blog/myArticles">نوشته های من</a>
                            <a class="dropdown-item text-light" href="#">Another action</a>
                            <a class="dropdown-item text-light" href="#">Something else here</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link disabled">
                        <%=`${role} : ${firstName} ${lastName} `%>
                            <img class="nav-img avatar" src='<%= avatar %>'>
                    </a>

                </li>
            </ul>
        </div>
        <form class="form-inline my-2 my-lg-0 justify-content-between ">
            <input class="form-conte mr-sm-2 ml-2" type="search " placeholder="جستجو " aria-label="جستجو ">
            <button class="btn btn-outline-success my-2 my-sm-0 " type="submit ">جستجو</button>
        </form>
    </div>
</nav>